@import "../node_modules/bootstrap/scss/bootstrap";

.hidden {
  display: none;
}

form#signIn {
  position: fixed;
  right: 20px;
  margin-top: 12px;
}

form#signIn p { 
  margin-top: 12px;
}

form#signIn button{
  margin-left: 10px;
}

.grid {
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: solid 5px black;
  margin-top: 10px;
}

.grid div {
  height: 20px;
  width: 20px;
}

.tetramino {
  height: 16px;
  width: 16px;
  border: solid 2px black;
  background-color: blue;
}

div.top{
  display: none;
}

/* body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 960px;
  margin: 0 auto;
} */

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
min-height: 100vh;
margin-left: -15rem;
-webkit-transition: margin .25s ease-out;
-moz-transition: margin .25s ease-out;
-o-transition: margin .25s ease-out;
transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
padding: 0.875rem 1.25rem;
font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
width: 15rem;
}

#page-content-wrapper {
min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
margin-left: 0;
}

@media (min-width: 768px) {
#sidebar-wrapper {
  margin-left: 0;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -15rem;
}
