@import "../node_modules/bootstrap/scss/bootstrap";

.grid {
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: solid 5px black;
  margin-top: 10px;
}

.grid div {
  height: 20px;
  width: 20px;
}

.tetramino {
  height: 16px;
  width: 16px;
  border: solid 2px black;
  background-color: blue;
}

body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 960px;
  margin: 0 auto;
}
